.fade-anim img {
    animation: fadeAnim 0.5s ease-out;
  }
  @keyframes fadeAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap');

  html, body, #root {
    height: 100%;
  }

 
  
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@material-tailwind/react/tailwind.css';